&CPU0 {
         efficiency = <1024>;
         capacity-dmips-mhz = <1024>;
};

&CPU1 {
         efficiency = <1024>;
         capacity-dmips-mhz = <1024>;
};

&CPU2 {
         efficiency = <1024>;
         capacity-dmips-mhz = <1024>;
};

&CPU3 {
        efficiency = <1024>;
        capacity-dmips-mhz = <1024>;
};

&CPU4 {
        efficiency = <1024>;
        capacity-dmips-mhz = <1024>;
};

&CPU5 {
        efficiency = <1024>;
        capacity-dmips-mhz = <1024>;
};

&CPU6 {
        efficiency = <1024>;
        capacity-dmips-mhz = <1024>;
};

&CPU7 {
        efficiency = <1024>;
        capacity-dmips-mhz = <1024>;
};

/ {
        /delete-node/ energy-costs;
        energy_costs: energy-costs {

                CPU_COST_0: core-cost0 {
                        busy-cost-data = <
                                  488   46
                                  663   72
                                  761  112
                                  868  144
                                  995  221
                                 1024  227
                        >;
                        idle-cost-data = <
                                100 80 60 40
                        >;
                };

                CPU_COST_1: core-cost1 {
                        busy-cost-data = <
                                  390   21
                                  507   35
                                  595   61
                                  663   79
                                  741  112
                        >;
			idle-cost-data = <
				40 20 10 8
			>;
                };
        };
};
